<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. PHP
10. Go
11. Ruby 
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. Vegas
11. Big DL
12. Ggplot2

|Data Science Tools|
|------------------|
|Hadoop|
|Apache Spark|
|Apache Airflow|
|TensorFlow|
|GitHub|
|GitLab|
|Jupyter Lab|
|RStudio|
|KNIME|

### Below are a few examples of evaluating arithmetic expressions in Python:
Addition of two numbers: 2+3 <br>
Subtraction of two numbers: 6-4 <br>
Multiplication of two numbers: 4*5 <br>
Division of two numbers: 6/3

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Add comments to code cells
- Create markdown cells
- Add ordered and unordered cells to markdown cells
- Format content of markdown cells with heading styles

## Author
Satwik